*{
    padding: 0;
    margin: 0;
    
}

.nav1 {
    width: 30%;
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    /* background-color: antiquewhite; */
    padding-left: 20px;
   
}



.nav1 h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
}
.nav1 a{
    text-decoration: none ;
}


.nav1 h1::first-letter {
    color: red;
}


@media (max-width: 768px) {
    .nav1 {
        width: 40%; 
    }
    .nav1 h1 {
        font-size: 1.5em; /* Reduce font size */
    }
}

@media (max-width: 480px) {
    .nav1 {
        width: 100%; /* Full width on mobile */
        justify-content: flex-start;
    }
    .nav1 h1 {
        font-size: 1.2em; /* Further reduce font size */
    }
}
